

/* Variables */
:root {
    --primary-color: #d86141;
    --secondary-color: #2e2e2e;
    --accent-color: #f3f6f9;
    --background-color: rgb(215, 229, 241);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


/* Header Content */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(135deg, var(--primary-color) 0%, #f88363 100%);
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    z-index: 1000;      
}

.sub-header {
    margin-top: 6rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sub-header h1 {
    margin-bottom: 0.5rem;
}

.sub-header h3 {
    margin-top: 0;
}

.sub-header a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.sub-header a:hover {
    text-decoration: underline;
}

